$box-color: rgba(190, 189, 189, 0.8);
$site-theme: #D35649;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $site-theme;

      a {
          color: white;
      }

      .brand {
          display: flex;
          align-items: center;
          font-size: 3rem;
          text-decoration: none;
      }

      .nav-links {
          display: flex;

          span {
              display: none;
          }
      }
  }

  .search {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url("/assets/imgs/real-estate.jpg");
      background-position: center;
      height: 90vh;
      background-size: cover;

    h3 {
        color: white;
        font-weight: bolder;

    }

      .search-box {
        margin: 1rem auto;
        background-color: $box-color;
        padding: 2rem;
        border-radius: 4%;
        width: 90%;
        font-size: 1rem;

        .search-form {
            display: flex;
            flex-direction: column;
            width: 100%;
  
            .search-text {
                margin-bottom: 10px;
                padding: 5px;
            }

            .search-btn {
                color: white;
                background-color:  #D35649;
                padding: 5px;
                border: none;
            }

        }

      }

      .how-it-works {
          
        .how-btn {
            background-color: $box-color;
            border: none;
            padding: 0.5rem;
        }

      }
  }

  .steps {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5vh;
      .wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 75%;
          text-align: center;
          h3 {
              color: $site-theme;
          }

          .icon {
              font-size: 2.5rem;
          }

          article {
              text-align: center;
          }
      }
  }


  .banners {
    .banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        color: white;
        text-align: center;
        padding: 1rem;
    
        img {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            margin-bottom: 1rem;
        }

        h4 {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    .banner:nth-child(1) {
        background-color: $site-theme;
    }

    .banner:nth-child(1) button {
        color: #d35649;
        border: none;
        padding: 0.5rem;
    }

    .banner:nth-child(2) {
        background-color: #519bd7;
    }

    .banner:nth-child(3) {
        background-color: #99a4a6;
    }
  }

  footer {
      background-color: black;

      a {
          color: white;
          padding: 1rem 1rem;
      }
  }

  .top-footer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      border: 1px #181818;
      border-style: solid none;
      font-size: 0.8rem;
      font-weight: 300;

      .logo {
          margin-top: 2.5rem;
          margin-bottom: 2.5rem;
          .top-footer-logo {
              border-radius: 50%;
              background-color: black;
              font-size: 2rem;
              border: 1px solid #181818;
              padding: 2.5rem;
          }
      }
  }

  .middle-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 300;
      margin: 1rem auto;
      width: 70%;

      a {
          color: $site-theme;
      }
      
      h3 {
          color: white;
          font-weight: bold;
      }

      p {
          color: white;
          font-size: 0.7rem;
          padding: 0.3rem;
      }

      .input-form {
          padding: 1rem 0 1.7rem;

          button {
              border-style: none;
              color: white;
              background-color: #181818;
              padding: 0.13rem 0.13rem 0.2rem 0.2rem;

          }
      }
  }

  .bottom-footer {
      display: flex;
      background-color: #1f1f1f;
      color: #99a4a6;
      justify-content: space-between;
      align-items: center;
      font-size: 0.7rem;
      height: 2rem;

      p {
          margin-bottom: 0px;
      }
  }


  .advanced-filter {
    text-align: center;
    background: rgba(190, 189, 189, 0.5);
    margin: 3rem 0;
    padding: 2rem;

    h3 {
        font-size: 1.5rem;
        font-weight: 400;
        color: #99a4a6;;
        margin-bottom: 2rem;
    }

    .filter-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        h2 {
            font-size: 0.9rem;
            font-weight: bold;
        }

        input {
            display: block;
            border: none;
            width: 100%;
            margin-bottom: 1rem;
            border-radius: 0.3rem;
        }

        select {
            border: none;
            width: 100%;
            background: #FFF;
            padding-top: 0.3rem;
            border-radius: 0.3rem;
            margin-bottom: 4rem;
        }

        .filter-buttons {
            button {
                border: none;
                color: white;
                padding: 0.35rem;
                border-radius: 0.4rem;
            }

            .filter-button-1 {
                background-color: #457eb4;
            }

            .filter-button-2 {
                background-color: #e5ab5b;
            }
        }
    }
  }

  .results {
      h2 {
         text-align: center;
         font-size: 1.3rem;
         font-weight: lighter;
         margin-bottom: 3rem; 
      }

      .results-container {
          display: grid;
          grid-template-columns: 1fr;
          gap: 1rem;
          text-align: center;
          margin: 0.8rem;

          a {
              color: white;

              span {
                  font-weight: bold;
              }
          }

          .result-item {
              background: #d95f4b;
              padding: 5rem 0;
          }
      }

  }

  .main-details {
      padding: 0 2rem 3rem;   

      .more-details {
        margin: 1.6rem 0;
        display: block;
        padding: 2rem 3rem;
        font-size: 1rem;
        color: #4c4851;
        background-color: #f5f5f5;
        letter-spacing: 0.5rem;
      }
  }

  .details {
      margin-top: 3rem;
      padding: 0.5rem;
      box-shadow: -0.3rem -0.1rem 1rem 0.1rem #bebdbd;

      .detail-items {
        margin: 1rem 0;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.7rem;

        .detail-item {
            padding: 1rem 0;
            border: 1px solid #bebdbd;
            border-radius: 0.3rem;
          }
      }

      h1 {
          color: $site-theme;
          font-size: 1.5rem;
      }

      button {
          color: white;
          border: none;
          padding: 0.5rem;
          background: #519bd7;
          float: right;
      }

      span {
          color: #519bd7;
      }

      .contact {
          display: flex;
          flex-direction: column;
      }
  }

  .map {
      h2 {
          font-size: 2rem;
          margin: 3rem 2rem 0;
          text-align: center;
          color: $site-theme;
      }

      img {
          width: 100%;
          padding: 1rem;
      }
  }
