$box-color: rgba(190, 189, 189, 0.8);
$site-theme: #D35649;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $site-theme;

      a {
          color: white;
      }

      .brand {
          display: flex;
          align-items: center;
          font-size: 3rem;
          text-decoration: none;
      }

      .nav-links {
          display: flex;

          span {
              display: none;
          }
      }
  }

  .search {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url("/assets/imgs/real-estate.jpg");
      background-position: center;
      height: 90vh;
      background-size: cover;

    h3 {
        color: white;
        font-weight: bolder;

    }

      .search-box {
        margin: 1rem auto;
        background-color: $box-color;
        padding: 2rem;
        border-radius: 4%;
        width: 90%;
        font-size: 1rem;

        .search-form {
            display: flex;
            flex-direction: column;
            width: 100%;
  
            .search-text {
                margin-bottom: 10px;
                padding: 5px;
            }

            .search-btn {
                color: white;
                background-color:  #D35649;
                padding: 5px;
                border: none;
            }

        }

      }

      .how-it-works {
          
        .how-btn {
            background-color: $box-color;
            border: none;
            padding: 0.5rem;
        }

      }
  }

  .steps {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5vh;
      .wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 75%;
          text-align: center;
          h3 {
              color: $site-theme;
          }

          .icon {
              font-size: 2.5rem;
          }

          article {
              text-align: center;
          }
      }
  }
