* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #D35649;
}

.navbar a {
  color: white;
}

.navbar .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  text-decoration: none;
}

.navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-links span {
  display: none;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/assets/imgs/real-estate.jpg");
  background-position: center;
  height: 90vh;
  background-size: cover;
}

.search h3 {
  color: white;
  font-weight: bolder;
}

.search .search-box {
  margin: 1rem auto;
  background-color: rgba(190, 189, 189, 0.8);
  padding: 2rem;
  border-radius: 4%;
  width: 90%;
  font-size: 1rem;
}

.search .search-box .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.search .search-box .search-form .search-text {
  margin-bottom: 10px;
  padding: 5px;
}

.search .search-box .search-form .search-btn {
  color: white;
  background-color: #D35649;
  padding: 5px;
  border: none;
}

.search .how-it-works .how-btn {
  background-color: rgba(190, 189, 189, 0.8);
  border: none;
  padding: 0.5rem;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vh;
}

.steps .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  text-align: center;
}

.steps .wrapper h3 {
  color: #D35649;
}

.steps .wrapper .icon {
  font-size: 2.5rem;
}

.steps .wrapper article {
  text-align: center;
}

.banners .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
  padding: 1rem;
}

.banners .banner img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.banners .banner h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.banners .banner:nth-child(1) {
  background-color: #D35649;
}

.banners .banner:nth-child(1) button {
  color: #d35649;
  border: none;
  padding: 0.5rem;
}

.banners .banner:nth-child(2) {
  background-color: #519bd7;
}

.banners .banner:nth-child(3) {
  background-color: #99a4a6;
}

footer {
  background-color: black;
}

footer a {
  color: white;
  padding: 1rem 1rem;
}

.top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  border: 1px #181818;
  border-style: solid none;
  font-size: 0.8rem;
  font-weight: 300;
}

.top-footer .logo {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.top-footer .logo .top-footer-logo {
  border-radius: 50%;
  background-color: black;
  font-size: 2rem;
  border: 1px solid #181818;
  padding: 2.5rem;
}

.middle-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 300;
  margin: 1rem auto;
  width: 70%;
}

.middle-footer a {
  color: #D35649;
}

.middle-footer h3 {
  color: white;
  font-weight: bold;
}

.middle-footer p {
  color: white;
  font-size: 0.7rem;
  padding: 0.3rem;
}

.middle-footer .input-form {
  padding: 1rem 0 1.7rem;
}

.middle-footer .input-form button {
  border-style: none;
  color: white;
  background-color: #181818;
  padding: 0.13rem 0.13rem 0.2rem 0.2rem;
}

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1f1f1f;
  color: #99a4a6;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
  height: 2rem;
}

.bottom-footer p {
  margin-bottom: 0px;
}
/*# sourceMappingURL=main.css.map */